{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p style="color:blue">Enter your email address below, and we'll email instructions for setting a new one.</p>
    <form id="reset-password-form" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" id="id_email" name="email" maxlength="254"
                   required="" autofocus>
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
        {{ form.recaptcha }}
        <div class="row">
            <input type="submit" class="btn btn-primary btn-block" value="Send me instructions!">
        </div>
    </form>


{#  <script src="{% static 'js/capture_csrftoken.js' %}"></script>#}
  <script src="https://www.google.com/recaptcha/api.js?render=6Lf2C3gUAAAAAAtTM7YPkhpWj_n5WWHEOsThyEZQ"></script>
  <script>
    $('document').ready(function submitResetForm() {
      grecaptcha.ready(function () {
        grecaptcha.execute("6Lf2C3gUAAAAAAtTM7YPkhpWj_n5WWHEOsThyEZQ", {action: 'homepage'}).then(function (token) {
            $('input#id_recaptcha').val(token);
        });
      });
    });
  </script>
  </body>
</html>